//Created by kprasad on 2/24/16.

h1 Users
p
    a(href="/users/newp") Create new profile
ul
    - for (var username in users){
    li
        a(href="/users/" + encodeURIComponent(username))= users[username].name
    - };

- if (page > 0){
a(href="?page=" + (page - 1)) Previous
&nbsp;
- }
-if (! lastPage) {
    a(href="?page=" + (page+1)) Next
-}
