//
   Created by kprasad on 2/24/16.
h1= user.name
h2 Bio
p= user.bio
form(action="/delete/" + encodeURIComponent(user.username), method="POST")
  input(type="hidden", name="_method",  value="DELETE")
  input(type="submit", value="Delete")